html, body {
	margin: 0;
	padding: 0;
}
p { margin: 0; }

#stage {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	min-width: 1100px; min-height: 650px;
	overflow: hidden;
	background-color: #FFF;
}

#a {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: black;
	animation:
		rotate_r 0.2s ease 0.4s forwards,
		fadeout 1s ease 1s forwards,
		rotate_l 0s ease 1s forwards;
}

#a .lines{
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}

#a .line{
	position: absolute;
	overflow : hidden;
}

#a .line:after{
	content: ""; display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #FFF;
}

#a .line1{
	width: 50%;
	height : 50%;
	left: 50%;
	top:50%;
}

#a .line1:after{
	transform: translateX(-100%);
	animation :
		draw-line_r 0.2s ease 0s forwards;
}

#a .line2 {
	width:50%;
	height:50%;
	top:0;
	left:0;
}

#a .line2:after {
	transform: translateX(100%);
	animation:
		draw-line_l 0.2s ease 0.2s forwards;
}

#a .line3 {
	width:50%;
	height:50%;
	top:0;
	left:50%;
}

#a .line3:after {
	transform: translateX(-100%);
	animation:
		draw-line_r 0.2s ease 0.6s forwards;
}

#a .line4 {
	width:50%;
	height:50%;
	top:50%;
	left:0;
}

#a .line4:after {
	transform: translateX(100%);
	animation:
		draw-line_l 0.2s ease 0.8s forwards;
}

#b {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #FFF;
	opacity:0;
	animation: fadein 0s ease 1.0s forwards,fadeout 0s ease 4.4s forwards;
}

#b .lines{
	position : absolute;
	top : 0;
	left : 0;
	width : 100%;
	height : 100%;
}

#b .line{
	position: absolute;
	overflow : hidden;
}

#b .line:after{
	content: ""; display: block;
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #000;
}

#b .line1{
	top:0;
	left:0;
	height:20%;
	width:150%;
	transform:rotate(30deg);
}

#b .line1:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 1.0s forwards;
}

#b .line2{
	top:0;
	left:0;
	height:10%;
	width:150%;
	transform:rotate(90deg);
}

#b .line2:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 1.2s forwards;
}

#b .line3{
	top:30%;
	left:0%;
	height:30%;
	width:150%;
}

#b .line3:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 1.4s forwards;
}
#b .line4{
	top:50%;
	left:-20%;
	height:15%;
	width:150%;
	transform:rotate(-20deg);
}

#b .line4:after{
	transform:translateX(100%);
	animation:
		draw-line_r 0.2s ease 1.6s forwards;
}

#b .line5{
	top:50%;
	left:-20%;
	height:15%;
	width:150%;
	transform:rotate(-20deg);
}

#b .line5:after{
	transform:translateX(100%);
	animation:
		draw-line_r 0.2s ease 1.8s forwards;
}

#b .line6{
	top:0;
	left:-50%;
	height:10%;
	width:150%;
	transform:rotate(95deg);
}

#b .line6:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 2.0s forwards;
}

#b .line7{
	top:0;
	left:-50%;
	height:10%;
	width:150%;
	transform:rotate(-20deg);
}

#b .line7:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 2.2s forwards;
}

#b .line8{
	top:30%;
	left:0;
	height:20%;
	width:150%;
	transform:rotate(30deg);
}

#b .line8:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 2.4s forwards;
}

#b .line9{
	top:0;
	left:-30%;
	height:20%;
	width:150%;
	transform:rotate(90deg);
}

#b .line9:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 2.6s forwards;
}

#b .line10{
	top:50%;
	left:-20%;
	height:40%;
	width:150%;
	transform:rotate(20deg);
}

#b .line10:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 2.8s forwards;
}

#b .line11{
	top:0;
	left:-70%;
	height:15%;
	width:150%;
	transform:rotate(85deg);
}

#b .line11:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 3.0s forwards;
}

#b .line12{
	top:10%;
	left:0;
	height:15%;
	width:150%;
}

#b .line12:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 3.2s forwards;
}

#b .line13{
	top:0;
	left:-35%;
	height:15%;
	width:150%;
	transform:rotate(100deg);
}

#b .line13:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 3.4s forwards;
}

#b .line14{
	top:80%;
	left:0%;
	height:20%;
	width:100%;
}

#b .line14:after{
	transform:translateX(100%);
	animation:
		draw-line_l 0.2s ease 3.6s forwards;
}

#b .line15{
	top:0;
	left:-70%;
	height:30%;
	width:150%;
	transform:rotate(90deg);
}

#b .line15:after{
	transform:translateX(100%);
	animation:
		draw-line_l 0.2s ease 3.8s forwards;
}

#b .line16{
	top:0;
	left:0;
	height:30%;
	width:150%;
}

#b .line16:after{
	transform:translateX(100%);
	animation:
		draw-line_l 0.2s ease 4.0s forwards;
}

#b .line17{
	top:50%;
	left:0;
	height:50%;
	width:150%;
}

#b .line17:after{
	transform:translateX(-100%);
	animation:
		draw-line_r 0.2s ease 4.2s forwards;
}

#c {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	background-color: #000;
	opacity:0;
	animation: fadein 0s ease 4.4s forwards,fadeout 2.0s ease 6.0s forwards;
}

#c .effect {
	position: absolute;
	width: 1000px; height: 1000px;
	border-radius: 50%;
	overflow: hidden;
}
#c .effect div {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
}
#c .effect div:after {
	content: ""; display: block;
	position: absolute;
}

#c .effect div:nth-child(1) { transform: rotate(0deg);   }
#c .effect div:nth-child(2) { transform: rotate(45deg);  }
#c .effect div:nth-child(3) { transform: rotate(90deg);  }
#c .effect div:nth-child(4) { transform: rotate(135deg); }
#c .effect div:nth-child(5) { transform: rotate(180deg); }
#c .effect div:nth-child(6) { transform: rotate(225deg); }
#c .effect div:nth-child(7) { transform: rotate(270deg); }
#c .effect div:nth-child(8) { transform: rotate(315deg); }

#c .effect_type_1 {
	top: calc(50% - 500px); left: calc(50% - 500px);
}

#c .effect_type_1 div:after {
	top: 5px; left: calc(50% - 20px);
	border-top: solid 70px #FFF;
	border-left: solid 20px transparent;
	border-right: solid 20px transparent;
	transform: translateY(-75px);
}

#c .effect div:nth-child(1):after{ animation:close 0.1s ease 4.4s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(2):after{ animation:close 0.1s ease 4.5s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(3):after{ animation:close 0.1s ease 4.6s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(4):after{ animation:close 0.1s ease 4.7s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(5):after{ animation:close 0.1s ease 4.8s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(6):after{ animation:close 0.1s ease 4.9s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(7):after{ animation:close 0.1s ease 5.0s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}
#c .effect div:nth-child(8):after{ animation:close 0.1s ease 5.1s forwards,close_all 0.4s ease 5.2s forwards,open_all 2.0s ease 6.0s forwards;}

#d{
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	opacity:0;
	animation: fadein 2.0s ease 7.0s forwards;
	background-color: navy;
	background-color:#000000;
	color:#FFF;
}
#d a{
	color:red;
}

@keyframes draw-line_r {
	0%   { transform: translateX(-100%); }
	100% { transform: translateX(0%); }
}
@keyframes draw-line_l {
	0%   { transform: translateX(100%); }
	100% { transform: translateX(0%); }
}
@keyframes rotate_r{
	0% 	{ transform:rotate(0deg);}
	100% 	{ transform:rotate(180deg);}
}
@keyframes rotate_l{
	0% 	{ transform:rotate(180deg);}
	100% 	{ transform:rotate(0deg);}
}
@keyframes fadeout{
	0% {opacity:1;}
	100% {opacity:0;}
}
@keyframes fadein{
	0% {opacity:0;}
	100% {opacity:1;}
}
@keyframes close {
	from { transform: translateY(-75px); }
	to   { transform: translateY(300px); }
}
@keyframes close_all {
	0% { transform: translateY(300px); }
	70% { transform : translateY(250px); }
	100% { transform: translateY(600px); }
}
@keyframes open_all {
	from { transform: translateY(600px); }
	to { transform: translateY(-100px);}
}
