html, body {
	margin: 0;
	padding: 0;
}
p { margin: 0; }

#stage {
	position: absolute;
	top: 0; left: 0;
	width: 100%; height: 100%;
	min-width: 1100px; min-height: 650px;
	overflow: hidden;
	background-color:#000;
}

/**
 * #prologue
 */
	#prologue {
		position: absolute;
		top: 0; left: 0;
		width: 100%; height: 100%;
	}

	/*** 共通: .word-1, .word-2 ***/
	#prologue .word-1{
		position: absolute;
		top: calc(50% - 40px);
		height: 120px;
		width : 120px;
		transform-origin:center;
		animation :
			move_left 0.25s ease 0s forwards,
			rotate_word 0.25s ease 0s forwards,
			move_left 0.25s ease 0.25s forwards,
			set_word 0.25s ease 0.25s forwards,
			move_left 0.25s ease 0.5s forwards,
			rotate_word_t 0.25s ease 0.5s forwards,

			move_left 0.25s ease 0.75s forwards,
			rotate_word 0.25s ease 0.75s forwards,
			move_left 0.25s ease 1s forwards,
			set_word 0.25s ease 1s forwards,
			move_left 0.25s ease 1.25s forwards,
			rotate_word_t 0.25s ease 1.25s forwards;
	}

	#prologue .word-1 div p{
		width: 100%; height: 100%;
		font-size: 80px;
		font-family:arial black;
		color: #FFF;
		text-align: center;
		line-height: 120px;
		opacity: 1;
		transform:scale(0.8,1);
	}
	
	#prologue .word-1 div p{
		animation:
			up 0.25s ease 0s forwards,
			fadeout 0.25s ease 0s forwards,

			fadein 0.01s ease 0.25s forwards,
			up 0.25s ease 0.25s forwards,
			fadeout 0.25s ease 0.25s forwards,

			fadein 0.01s ease 0.5s forwards,
			up 0.25s ease 0.5s forwards,
			fadeout 0.25s ease 0.5s forwards,


			fadein 0.01s ease 0.75s forwards,
			up 0.25s ease 0.75s forwards,
			fadeout 0.25s ease 0.75s forwards,

			fadein 0.01s ease 1s forwards,
			up 0.25s ease 1s forwards,
			fadeout 0.25s ease 1s forwards,

			fadein 0.01s ease 1.25s forwards,
			up 0.25s ease 1.25s forwards,
			fadeout 0.25s ease 1.25s forwards;
	}

	@keyframes fadeout {
		0%   { opacity: 1; }
		100% { opacity: 0; }
	}

	@keyframes fadein {
		0%   { opacity: 0; }
		100% { opacity: 1; }
	}

	@keyframes up{
		0% {font-size:80px;}
		100% {font-size: 1000px;}
	}

	@keyframes move_left{
		0% {left : calc(50% - 60px) ; width:120px;}
		100% {left: 0; width:100%;}
	}

	@keyframes rotate_word{
		0% { transform:rotate(0deg);}
		100% { transform:rotate(-10deg);}
	}

	@keyframes set_word{
		0% { transform:rotate(0deg);}
		100% { transform:rotate(0deg);}
	}

	@keyframes rotate_word_t{
		0% { transform:rotate(0deg);}
		100% { transform:rotate(10deg);}
	}
